:root {
  --panel_background_color: rgb(33, 33, 33);
  --panel_border_color: rgb(66, 66, 66);
  --text_color: rgb(250, 250, 250);
  --text_font: "Times New Roman", serif;
}

body {
  background: #212121;
  font-family: Arial, sans-serif;
  padding-top: 0px;
  margin: 0px;
  text-align: center;
  width: auto;
  height: auto;
}
/* nav start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: #060606;

  /* font-family: 'Poppins', sans-serif; */
}

.nav-links {
  display: inline-block;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: none;
  margin: none;
}

.nav-links a:hover {
  color: #aaaaaa;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600px;
  font-size: 20px;
  color: white;
}

.nav-links li {
  display: inline-block;
  list-style: none;
  width: 14%;
  height: 100%;
}
/* nav end */

.header {
  position: relative;
  width: 100%;
  text-align: left;
  background-color: #eee;
  margin-top: 0px;
}

.header a {
  font-size: 18px;
  width: 10%;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  text-decoration: none;
  text-align: center;
  color: black;
}
.header a:hover {
  background-color: #bbb;
}

.carousel_holder {
  margin-top: 30px;
  margin-left: 50px;
  width: 40%;
  min-width: 600px;
}

.carousel_header {
  font-size: 90px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0.02em 0.04em rgba(0, 0, 0, 1);
}

.carousel_text {
  color: whitesmoke;
  font-size: 22px;
  text-shadow: 0.02em 0.04em rgba(0, 0, 0, 1);
  text-align: justify;
}

#discoverButton {
  background-image: url("../Images/down-arrow.png");
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  margin-left: 35%;
  margin-right: auto;
  border: none;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-color: rgb(255, 255, 255, 0);
  background-repeat: no-repeat;
}

.caruText button:hover {
  cursor: pointer;
}

.carousel {
  /* xa */
  display: flex;
  justify-content: left;

  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../Images/WFPP.png") repeat;
  -webkit-animation: loader 100s steps(10000) infinite;
  -moz-animation: loader 100s steps(10000) infinite;
  -ms-animation: loader 100s steps(10000) infinite;
  -o-animation: loader 100s steps(10000) infinite;
  animation: loader 100s steps(10000) infinite;
  height: 92vh;
  background-size: cover;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

@-webkit-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@-moz-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@-ms-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@-o-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}

.content_panel {
  position: relative;
  min-width: 1120px;
  max-width: 85rem;
  height: 20rem;
  margin: 2% auto;
  background-color: #282828;
  margin-bottom: 20px;
  border: 4px solid #cccccc;
}

.content_image_left {
  height: 100%;
  /*width: 33%;*/
  margin: 0 15px 0 0;
  float: left;
}

.content_image_right {
  height: 100%;
  /*width: 33%;*/
  margin: 0 0px 0 15px;
  float: right;
}

.content_headline {
  top: 30px;
  padding: 2rem 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800px;
  font-size: 25px;
  letter-spacing: 1px;
  color: #ffffff;
}

.content_text {
  font-weight: 500px;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  padding: 1rem 1rem;
}

#birthday_pic {
  display: none;
  height: 100%;
  width: auto;
}

#birthday_title {
  padding: 4px;
  padding-bottom: 0px;
  margin: 0px;
  margin-top: 10px;
  object-fit: contain;
}

#pod_text {
  text-align: center;
}

.content_button {
  padding: 0.5em 1.7em;
  margin-bottom: 20px;
  font-weight: 300;
  color: #000;
  text-shadow: 0 0.04em 0.04em rgba(235, 235, 235, 0.253);
  font-size: 17px;
  color: #fff;
  background-color: #c76734;
  border: none;
  cursor: pointer;
}

.contribute_button {
  padding: 0.5em 1.7em;
  margin-bottom: 20px;
  font-weight: 300;
  color: #000;
  text-shadow: 0 0.04em 0.04em rgba(235, 235, 235, 0.253);
  font-size: 17px;
  color: #ccc;
  background-color: #282828;
  outline: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  border: 0.2em solid #060606;
  cursor: pointer;
}

.contentPanel {
  /* border: 4px green solid; */
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #ddd;
}

#birthday_title {
  color: white;
}

#pod_container {
  background-color: #282828;
  padding-top: 40px;
  padding-bottom: 40px;
}

#pod_panel {
  width: 65rem;
  height: 28vh;
  background-color: #212121;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  color: #dddddd;
}

#pod_panel p {
  color: #fff;
}

@media (max-width: 950px) {
  .content,
  .header,
  .textContent {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 650px) {
  .content,
  .header,
  .textContent {
    width: 90%;
    left: 5%;
  }
}

/* The sidepanel menu */
.sidepanel {
  height: calc(100% - 128px); /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 40px;
  left: 0;
  background-color: #777; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  position: fixed;
  top: 40px;
  left: 0px;
  font-size: 20px;
  cursor: pointer;
  background-color: #aaa;
  color: white;
  padding: 10px 10px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.my_dataviz {
  background: #333333;
  width: 100%;
  height: 100%;
}

#closeTooltipButton {
  position: absolute;
  top: 0;
  right: 0;
}

#locator {
  z-index: 1;
  width: auto;
  position: absolute;
  top: 8%;
}
#locator button {
  display: block;
  font-size: 20px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "blacksword";
  src: url("../Fonts/Blacksword.otf");
}
#sideishButtons {
  position: absolute;
  top: 24%;
}
#countryButton {
  z-index: 1;
  display: block;
  width: 65px;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 31%;
  left: 0%;
}

#allPioneersButton {
  z-index: 1;
  display: block;
  width: 65px;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 24%;
  left: 0%;
}
#professionsButton {
  z-index: 1;
  display: none;
  width: 65px;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 24%;
  left: 0%;
}

#countryButton img,
#allPioneersButton img,
#professionsButton img {
  width: 50px;
  height: 50px;
}

#countryButton img:hover,
#allPioneersButton img:hover,
#professionsButton:hover {
  cursor: pointer;
}

.node:hover {
  stroke-width: 4px !important;
  opacity: 1 !important;
}
