body{
	background: #ddd;
	font-family:Arial,sans-serif;
	padding-top: 0px;
	margin: 0px;
	text-align: center;
    width:auto;
    height: auto;
}


.header{
	position: relative;
	width: 100%;
 	text-align: left;
	background-color: #eee;
	margin-top: 0px;
}

.header a{
    font-size: 18px;
    width:10%;
	display: inline-block;
	padding-top:9px;
	padding-bottom:9px;
	text-decoration: none;
    text-align: center;
	color: black;
}
.header a:hover{
	background-color: #bbb;
}

.caruText{
    width:30%;
    padding-left: 5%;
    color: white;
    padding-top: 5%;
    font-size: 18px;
}

.caruText button{
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  margin-left:35%;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
}

.caruText button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  cursor: pointer; 
}

.carousel{
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../Images/WFPP.png") repeat;
    -webkit-animation: loader 100s steps(10000) infinite;
    -moz-animation: loader 100s steps(10000) infinite;
    -ms-animation: loader 100s steps(10000) infinite;
    -o-animation: loader 100s steps(10000) infinite;
    animation: loader 100s steps(10000) infinite;
    height: 575px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.caruText h3{
    padding-top:0px;
    margin-top:0px;
    color:white;
}

@-webkit-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@-moz-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@-ms-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@-o-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}
@keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -13390px 0;
  }
}

.content{
	position: relative;
	background: #eee;
	width:100%;
	padding-top: 10px;
}

.contentPanel{
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #ddd
}
.footer{
    background-color: #333;
    height: 50px;
}

@media (max-width: 950px) {
	.content, .header, .textContent{
		width: 80%;
		left:10%;
	}
}

@media (max-width: 650px) {
	.content, .header, .textContent{
		width: 90%;
		left:5%;
	}
}


 /* The sidepanel menu */
.sidepanel {
  height: calc(100% - 128px); /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 40px;
  left: 0;
  background-color: #777; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    position: fixed;
    top:40px;
    left:0px;
    font-size: 20px;
    cursor: pointer;
    background-color: #aaa;
    color: white;
    padding: 10px 10px;
    border: none;
}

.openbtn:hover {
  background-color: #444;
} 

.my_dataviz{
    background:#665545;
    width:100%;
    height:100%;
}

#closeTooltipButton{
    position: absolute;
    top:0;
    right: 0;
}

#locator{
    z-index: 1;
    width: auto;
    position: absolute;
    top:8%;
    
}
#locator button{
    display: block;
    font-size: 20px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@font-face{
 font-family:'blacksword';
 src: url('Blacksword.otf');
}
#sideishButtons{
    position: absolute;
    top:24%;
}
#countryButton{
    z-index: 1;
    display: block;
    width: 65px;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top:31%;
    left:0%;
}

#allPioneersButton{
    z-index: 1;
    display: block;
    width: 65px;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top:24%;
    left:0%;
}
#professionsButton{
    z-index: 1;
    display: none;
    width: 65px;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top:24%;
    left:0%;
}

#countryButton img, #allPioneersButton img,#professionsButton img{
    width: 50px;
    height: 50px;
}

#countryButton img:hover, #allPioneersButton img:hover, #professionsButton:hover{
    cursor: pointer;
}

.node:hover {
      stroke-width: 4px !important;
      opacity: 1 !important;
    }