body{
	background: #212121;
	font-family:Arial,sans-serif;
	padding-top: 0px;
	margin: 0px;
	text-align: center;
    width:100%;
    height:94%;
    overflow-x: hidden;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: #060606;
}

.nav-links{
  display: inline-block;
  justify-content: space-around;
  width: 100%;
  height: 100%;
    padding:none;
    margin: none;
}

.nav-links a:hover{
    color: #AAAAAA;
}


.nav-links a{
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600px;
  font-size: 20px;
  color:white;
}

.nav-links li{
  display: inline-block;
  list-style: none;
  width: 14%;
  height: 100%;
}

.header{
	position: relative;
	width: 100%;
 	text-align: left;
	background-color: #eee;
	margin-top: 0px;
}

.header a{
    font-size: 18px;
    width:10%;
	display: inline-block;
	padding-top:9px;
	padding-bottom:9px;
	text-decoration: none;
    text-align: center;
	color: black;
}
.header a:hover{
	background-color: #bbb;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@font-face{
 font-family:'blacksword';
 src: url('../Fonts/Blacksword.otf');
}
.my_dataviz{
    background:#333333;
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
}
svg{
    background-color:#212121;
}

#closeTooltipButton{
    position: absolute;
    top:0;
    right: 0;
}

#locator{
    z-index: 1;
    width: 100vw;
    text-align: center;
    position: absolute;
    margin-top: 5px;
}

#locator button{
    display: inline-block;
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    background: none;
    color: #fff;
    text-shadow:2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    outline: none;
    border: none;

}

#locator button:hover{
    cursor: pointer;
}
#fullArticleButton{
    padding: 0.5em 1.7em;
    margin-bottom: 10px;
    font-weight: 300;
    color: #000;
    text-shadow: 0 0.04em 0.04em rgba(235, 235, 235, 0.253);
    font-size: 17px;
    color: #ccc;
    background-color: #282828;
    outline: none;
    box-shadow: none;
    font-family: "Roboto", sans-serif;
    border: 0.2em solid #060606;
    cursor: pointer;
}

.tooltip{
    background-color:#111111;
    border:solid;
    border-width:5px;
    border-radius:3px;
    padding:10px;
    z-index:5;
    position: absolute;
    color: white;
}

#sideishButtons{
    border:none;
    display: block;
    background: transparent;
    position: relative;
    top:0%;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: -60px;
    z-index: 2;
}
#countryButton, #allPioneersButton, #professionsButton{
    z-index: 2;
    display: inline-block;
    width: 55px;
    height: 50px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: black;
}

#countryButton img, #allPioneersButton img,#professionsButton img{
    width: 95%;
    height: 90%;
    filter: invert(1);
}

#countryButton img:hover, #allPioneersButton img:hover, #professionsButton:hover{
    cursor: pointer;
}

.node:hover {
      stroke-width: 5px !important;
      opacity: 1 !important;
      cursor: pointer;
}

.subgroupNodes:hover{
    stroke-width: 5px !important;
    opacity: 1 !important;
}

.textOverlay{
    background-color: none;
    display: block;
    border: none;
    border-width: 1px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    z-index: 4;
    text-shadow:2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    animation: fadein 1.5s;
    position: absolute; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}


#subGroupOpen{
    color:white;
    background-color: black;
    position: relative;
    font-size: 30px;
    border:none;
    top:5%;
    float: left;
    z-index: 10;
    display: none;
}

#closeMainTooltip{
    position: absolute;
    text-decoration: none;
    color: white;
    top: -8px;
    right: 0px;
    font-size: 36px;
    padding: none;
}

#subGroupOpen:hover{
    cursor: pointer;
}

#subGroupPanel{
    width:0px;
    color: white;
    text-align: center;
    overflow: hidden;
    z-index: 11;
    background-color: black;
    position: absolute;
    top:4%;
    height: 94.5%;
    transition: 0.5s;
    padding-top: 10px;
    font-size: 2vh;
    text-decoration: underline;
}

#subGroupPanelSVG{
    background-color: black;
}

#closeGroupPanel{
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

#back{
    height: 4%;
    padding:5px;
    position:fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    z-index: 10;
}

#back button{
    border:none;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 50%;
    width: 100%;
    height: 100%;
    padding: 0.5em 1.7em;
    margin-bottom: 20px;
    font-weight: 300;
    color: #000;
    text-shadow: 0 0.04em 0.04em rgba(235, 235, 235, 0.253);
    font-size: 17px;
    color: #ccc;
    background-color: #111;
    outline: none;
    box-shadow: none;
    font-family: "Roboto", sans-serif;
    border: 0.2em solid #060606;
    cursor: pointer;
}