body{
	background: #333333;
	font-family:Arial,sans-serif;
	padding-top: 0px;
	margin: 0px;
	text-align: center;
    width:100%;
    height:94%;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: #060606;
    
  /* font-family: 'Poppins', sans-serif; */
}

.nav-links{
  display: inline-block;
  justify-content: space-around;
  width: 100%;
  height: 100%;
    padding:none;
    margin: none;
}

.nav-links a:hover{
    color: #AAAAAA;
}


.nav-links a{
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600px;
  font-size: 20px;
  color:white;
}

.nav-links li{
  display: inline-block;
  list-style: none;
  width: 14%;
  height: 100%;
}

.header{
	position: relative;
	width: 100%;
 	text-align: left;
	background-color: #eee;
	margin-top: 0px;
}

.header a{
    font-size: 18px;
    width:10%;
	display: inline-block;
	padding-top:9px;
	padding-bottom:9px;
	text-decoration: none;
    text-align: center;
	color: black;
}
.header a:hover{
	background-color: #bbb;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@font-face{
 font-family:'blacksword';
 src: url('../Fonts/Blacksword.otf');
}
.my_dataviz{
    background:#333333;
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
}
svg{
    background-color:#333333;
}

#closeTooltipButton{
    position: absolute;
    top:0;
    right: 0;
}

#locator{
    z-index: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 5px;
}
#locator button{
    display: inline-block;
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    background: none;
    color: #fff;
    text-shadow:2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    outline: none;
    border: none;
    text-decoration:underline;
}

#locator button:hover{
    cursor: pointer;
}

#sideishButtons{
    border:none;
    background: transparent;
    position: absolute;
    top:4.5%;
    z-index: 2;
}
#countryButton{
    z-index: 2;
    display: inline-block;
    width: 65px;
    height: 60px;
    border-radius: 10px;
    border-radius: 10px;
}

#allPioneersButton{
    z-index: 2;
    display: inline-block;
    width: 65px;
    height: 60px;
    border-radius: 10px;
    border-radius: 10px;
    
}
#professionsButton{
    z-index: 2;
    display: inline-block;
    width: 65px;
    height: 60px;
    border-radius: 10px;
    border-radius: 10px;
    
}

#countryButton img, #allPioneersButton img,#professionsButton img{
    width: 95%;
    height: 90%;
}

#countryButton img:hover, #allPioneersButton img:hover, #professionsButton:hover{
    cursor: pointer;
}

.node:hover {
      stroke-width: 5px !important;
      opacity: 1 !important;
}

.subgroupNodes:hover{
    stroke-width: 5px !important;
    opacity: 1 !important;
}

.textOverlay{
    background-color: none;
    display: block;
    border: none;
    border-width: 1px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    z-index: 4;
    text-shadow:2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    animation: fadein 1.5s;
    position: absolute; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}


#subGroupOpen{
    display: block;
    color:black;
    background-color: white;
    position: absolute;
    font-size: 30px;
    border:none;
    top:12%;
    left:0%;
    z-index: 10;
}

#subGroupOpen:hover{
    cursor: pointer;
}

#subGroupPanel{
    width:0px;
    text-align: center;
    overflow: hidden;
    z-index: 11;
    background-color: wheat;
    position: absolute;
    top:4%;
    height: 94.5%;
    transition: 0.5s;
    padding-top: 10px;
    font-size: 2vh;
    text-decoration: underline;
}

#subGroupPanelSVG{
    background-color: wheat;
}

#closeGroupPanel{
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
}

#back{
    background-color: white;
    border:solid;
    border-width: 2px;
    border-radius:5px;
    width:6%;
    height: 2%;
    padding:5px;
    position:fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    z-index: 10;
}

#back button{
    border:none;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 50%;
    width: 100%;
    height: 100%;
}