:root {
    --panel_background_color: rgb(33, 33, 33);
    --panel_border_color: rgb(66, 66, 66);
    --text_color: rgb(250, 250, 250);
    --text_font: 'Times New Roman', serif;
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: #eee;
}

/* Wrapper */

.main_wrapper{
    width: 1750px;
    overflow: hidden;
}

.bottom_wrapper{
    height: 100px;
    width: 1750px;
    overflow: hidden;
}

/* Panels */

.panels{
    float: left;
    width: 300px;   
    margin-left: 5px; 
}

/* Sidepanel */

.sidepanel_panel {
    height: 475px;
    background-color: var(--panel_background_color);
    border: 4px solid var(--panel_border_color);
    padding: 8px 0;
    border-radius: 2%;
}

.sidepanel_headline {
    font-size: 27px;
    font-weight: bold;
    margin-left: 32px;
    font-family: var(--text_font);
    color: var(--text_color);
}

.sidepanel_info_icon{
    float: right;
    margin-right: 8px;
}

.sidepanel_text_short {
    font-size: 22px;
    font-family: var(--text_font);
    color: var(--text_color);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidepanel_text_long {
    font-family: var(--text_font);
    color: var(--text_color);
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

.sidepanel_text_big {
    font-size: 24px;
    font-family: var(--text_font);
    color: var(--text_color);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    text-decoration: underline;
}

.sidepanel_image {
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.sidepanel_button {
    width: 45%;
    height: 50px;
    padding: 0.25em 0.85em;
    font-weight: 300;
    color: #ccc;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    font-size: 17px;
    background-color: #555555;
    border: 0.16em solid var(--panel_border_color);
    outline: none;
    box-shadow: none;
    font-family: var(--text_font);
    cursor: pointer;
}

/* Settings */

.settings_panel {
    height: 220px;
    margin-top: 5px;
    background-color: var(--panel_background_color);
    border: 4px solid var(--panel_border_color);
    padding: 8px 0;
    border-radius: 2%;
}

.settings_headline {
    font-size: 27px;
    font-weight: bold;
    margin-left: 32px;
    font-family: var(--text_font);
    color: var(--text_color);
}

.settings_info_icon{
    float: right;
    margin-right: 8px;
}

.settings_checkbox {
    width: 20px;
    height: 20px;
}

.settings_checkbox_text {
    font-family: var(--text_font);
    color: var(--text_color);
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.settings_button {
    width: 80%;
    padding: 0.5em 1.7em;
    font-weight: 300;
    color: #000;
    text-shadow: 0 0.04em 0.04em rgba(235, 235, 235, 0.253);
    font-size: 17px;
    color: #ccc;
    background-color: #555555;
    border: 0.2em solid var(--panel_border_color);
    outline: none;
    box-shadow: none;
    font-family: var(--text_font);
    cursor: pointer;
}

/* Map */

.map_holder {
    border:4px solid black;
    right: 50px;
}

/* Histogram */

.histogram_holder{
    margin-left: 325px;
    margin-top: 5px;
    width: 1400px;    
}

.histogram_image{
    width: 100%;    
}

.histo_icon{
    margin-right:24px;    
    vertical-align: bottom;
    margin-bottom: 2px;
}

/* Slider */

.slider_text_holder {
    margin-left: 325px;
    width: 1400px;    
    margin-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider_holder {
    margin-top: 10px;
    margin-left: 325px;
    width: 1400px;    
}

.slider_info_icon{
    margin-left:24px;
    vertical-align: bottom;
    margin-bottom: 5px;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: rgb(50, 50, 50);
    z-index: 100;
}