:root {
  --panel_background_color: rgb(33, 33, 33);
  --panel_border_color: rgb(66, 66, 66);
  --text_color: rgb(250, 250, 250);
  --text_font: "Roboto", sans-serif;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: #eee;
}

/* Wrapper */

.main_wrapper {
  width: 1750px;
  overflow: hidden;
}

.bottom_wrapper {
  height: 70px;
  width: 1750px;
  overflow: hidden;
  margin-bottom: 25px;
}

/* Dialog */

#dialog {
  width: 10px;
  height: 10px;
  color: white;
  background-color: #333333;
}

.ui-widget.ui-widget-content {
  background-color: #202020;
  border: 1px solid #202020 !important;
}

#ui-id-1.ui-dialog-title {
  width: 100% !important;
  font-weight: bold;
}

/* Panels */

.panels {
  float: left;
  width: 300px;
  margin-left: 5px;
}

/* Sidepanel */

.sidepanel_panel {
  height: 475px;
  background-color: var(--panel_background_color);
  border: 4px solid var(--panel_border_color);
  padding: 8px 0;
  border-radius: 2%;
}

.sidepanel_headline {
  font-size: 27px;
  font-weight: bold;
  margin-left: 32px;
  font-family: var(--text_font);
  color: var(--text_color);
}

.sidepanel_info_icon {
  float: right;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

.sidepanel_text_short {
  font-size: 22px;
  font-family: var(--text_font);
  color: var(--text_color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidepanel_text_long {
  font-family: var(--text_font);
  color: var(--text_color);
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}

.sidepanel_text_big {
  font-size: 24px;
  font-family: var(--text_font);
  color: var(--text_color);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  text-decoration: underline;
}

.sidepanel_image {
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  max-width: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.sidepanel_button {
  width: 45%;
  height: 50px;
  padding: 0.25em 0.85em;
  font-weight: 300;
  color: #ccc;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  font-size: 17px;
  background-color: #555555;
  border: 0.16em solid var(--panel_border_color);
  outline: none;
  box-shadow: none;
  font-family: var(--text_font);
  cursor: pointer;
}

/* Options */

.settings_panel {
  height: 203px;
  margin-top: 5px;
  background-color: var(--panel_background_color);
  border: 4px solid var(--panel_border_color);
  padding: 8px 0;
  border-radius: 2%;
}

.settings_headline {
  font-size: 27px;
  font-weight: bold;
  margin-left: 32px;
  font-family: var(--text_font);
  color: var(--text_color);
  padding-top: -20px;
}

.small_br {
  display: block;
  margin-top: 2px;
}

.settings_info_icon {
  float: right;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

.settings_button {
  width: 80%;
  margin-top: -6px;
  padding: 0.5em 1.7em;
  font-weight: 300;
  color: #000;
  text-shadow: 0 0.04em 0.04em rgba(235, 235, 235, 0.253);
  font-size: 17px;
  color: #ccc;
  background-color: #555555;
  border: 0.2em solid var(--panel_border_color);
  outline: none;
  box-shadow: none;
  font-family: var(--text_font);
  cursor: pointer;
}

/* Map */

.map_holder {
  border: 4px solid black;
  right: 50px;
}

/* Histogram */

.histogram_holder {
  margin-left: 295px;
  margin-top: 5px;
  width: 1425px;
}

.histogram_image {
  width: 100%;
}

.histo_icon {
  margin-right: 24px;
  vertical-align: bottom;
  margin-bottom: 2px;
}

/* Slider */

.slider_text_holder {
  margin-left: 325px;
  width: 1400px;
  margin-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider_holder {
  margin-top: 10px;
  margin-left: 325px;
  margin-bottom: 25px;
  width: 1400px;
}

.slider_year_text {
  color: #1fb9f6;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  pointer-events: none;
  width: 150px;
  background-color: #060606;
  border-width: 0px;
}

.slider_info_icon {
  margin-left: 10px;
  vertical-align: bottom;
  cursor: pointer;
  transition: 0.3s;
  height: 28px;
  width: 28px;
  margin-bottom: 2px;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: rgb(50, 50, 50);
  z-index: 100;
}

/* Charts */

#country_pie_chart {
  width: 50%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#country_bar_chart {
  width: 70%;
  height: 120%;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Charts Close Button */
.close1 {
  color: #aaa;
  font-size: 50px;
  font-weight: bold;
  margin-left: 68.5%;
}

.close2 {
  color: #aaa;
  font-size: 50px;
  font-weight: bold;
  margin-left: 48.5%;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
